.panel-form {
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 0px 10px 1px rgb(56, 36, 36);
}

.kbw-signature {
    width: 250px;
    height: 120px;
}

#sig canvas {
    width: 90% !important;
    height: auto;
}

.img {
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    height: max-content;
}

#preview {
    padding: 30px;
    border: 0px solid;
    background: #ffffff;
}

.text-black {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

.form_rounded {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    border-radius: 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #00020f;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.round {
    display: block;
    width: 40%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    border-radius: 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #01030f;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

textarea {
    display: block;
    width: 100%;
    height: calc(4rem + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    border-radius: 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #00020c;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.img-fluid {
    padding: .25rem;
    background-color: rgb(9, 14, 51);
    border: 1px solid #01030e;
    border-radius: .35rem;
    height: 100px;
    width: 200px;
}

.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #05184e 10%, #88b1db 100%);
    background-size: cover
}