.panel-form {
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 0px 10px 1px rgb(56, 36, 36);
}

.kbw-signature {
    width: 250px;
    height: 120px;
}

#sig canvas {
    width: 90% !important;
    height: auto;
}

.img {
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
}

#preview {
    padding: 30px;
    border: 0px solid;
    background: #ffffff;
}